<div class="author">
    <h1 class="author_heading">Luminary Lines</h1>
    <p class="author_body">Shedding light on stories that inspire and illuminate.</p>
</div>

<img src="/img/blog-8.jpg" alt="" class="image">

<section class="articles">
    <h2 class="articles_heading">Latest posts</h2>
    <ul class="article-ul">

        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span> <%= post.title %></span>
                <span class="article-list_date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>
    </ul>
    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt;View Older Posts</a>
    <% } %>
    
</section>